<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>uploadshare</servlet-name>
        <servlet-class>action.uploadshare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcard</servlet-name>
        <servlet-class>action.addcard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOtp</servlet-name>
        <servlet-class>action.CreateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateorder</servlet-name>
        <servlet-class>action.updateorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantupdateorder</servlet-name>
        <servlet-class>action.merchantupdateorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePage</servlet-name>
        <servlet-class>action.LikePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>action.OrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>action.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateQR</servlet-name>
        <servlet-class>action.GenerateQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>services.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectProduct</servlet-name>
        <servlet-class>services.DetectProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadshare</servlet-name>
        <url-pattern>/uploadshare</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>action.logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ureg</servlet-name>
        <servlet-class>action.ureg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addmens</servlet-name>
        <servlet-class>action.addmens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addwomens</servlet-name>
        <servlet-class>action.addwomens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addelectronics</servlet-name>
        <servlet-class>action.addelectronics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPassword</servlet-name>
        <servlet-class>action.SetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePass</servlet-name>
        <servlet-class>action.ValidatePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ureg</servlet-name>
        <url-pattern>/ureg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addmens</servlet-name>
        <url-pattern>/addmens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addwomens</servlet-name>
        <url-pattern>/addwomens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addelectronics</servlet-name>
        <url-pattern>/addelectronics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPassword</servlet-name>
        <url-pattern>/SetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePass</servlet-name>
        <url-pattern>/ValidatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcard</servlet-name>
        <url-pattern>/addcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOtp</servlet-name>
        <url-pattern>/CreateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateorder</servlet-name>
        <url-pattern>/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantupdateorder</servlet-name>
        <url-pattern>/merchantupdateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePage</servlet-name>
        <url-pattern>/LikePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/OrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateQR</servlet-name>
        <url-pattern>/GenerateQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectProduct</servlet-name>
        <url-pattern>/DetectProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
